@{
    ViewBag.Title = "About";
}

<div class="container" style="color:white; padding:15%;">
    <h1>IOT Hub</h1>
    <h2>
        It's the application for managing the IoT devices, gathering data and creating reports base on it.<br>
        <p></p>
        At that moment implemented only functionality related to CCTV.
    </h2>


   
</div>
