@{
    ViewBag.Title = "Contact";
}
<div class="container"  style="color:white; padding:15%;">
    <h1>In the case of emergency you can contact me by the following link:</h1>
    <h2>
        <a href="">Facebook</a><br>
        <p></p>
        or send me a mail:<br>
        <p></p>
        <a href="mailto:Support@example.com">v.dovnich@gmail.com</a>
    </h2>
</div>