@model IEnumerable<IOTHub.Models.Node>

@{
    ViewBag.Title = "Home";
}

<style>
    #map {
        height: 850px;
        width: 100%;
    }
</style>
<div id="map"></div>
<script>
    var latLng = { lat: @Model.FirstOrDefault().Latitude, lng: @Model.FirstOrDefault().Longitude };
    var map;
    var marker;
    var nodeListJS;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center:latLng,
            zoom: 18
        });

        dotListJS = @Html.Raw(Json.Encode(Model));
        dotListJS.forEach(function (element) {
            marker = new google.maps.Marker({
                position: { lat: element.Latitude, lng: element.Longitude },
                map: map,
                title: element.Name,
                icon: 'https://github.com/VDSnuff/IOTHub/blob/master/IOTHubWeb/App_Data/triangle_64.png?raw=true',
                label: { color: '#ED1C24', fontWeight: 'bold', fontSize: '14px', text: element.Name },
            });
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEi9L_6xG0THDSXMx0rZZnIqlL0cvtkZg&callback=initMap" async defer></script>